{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="flex relative overflow-x-auto text-white justify-center">
    
<div class="grid grid-cols-4 gap-4 w-full">
    
    <div class="col-span-3 flex justify-center"> 

        {% if transactions %}

        <table class="table w-full text-center">
            <thead>
                <tr>
                    <th class="text-white">DATE</th>
                    <th class="text-white">TYPE</th>
                    <th class="text-white">AMOUNT</th>
                    <th class="text-white">CATEGORY</th>
                </tr>
            </thead>
            <tbody>
        
                    {% for transaction in transactions  %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.category }}</td>
                    </tr>
                    {% endfor %}
        
            </tbody>
        </table>
        
        {% else %}
            <p>No transactions found.</p>
        {% endif %}
    </div>

    <div class="col-span-1 flex justify-center">

        <div class="m-2">
            <form action="{% url "transaction_list" %}" method="get">
                <div class="mb-2 from-control">
                    {{filter.form.type|add_label_class:"text-white"}}
                    {% render_field filter.form.type class="select bg-gray-50 text-gray-900" %}
                </div>
    
                <button type="submit" class="btn btn-success text-white">
                    Filter
                </button>
            </form>
        </div>

    </div>


</div>
</div>


{% endblock content %}